.Container {
}
.Title {
  margin: 20px;
}
.FilterContainer {
  display: flex;
  justify-content: space-between;
}
.Filter {
  margin: 20px;
}
.FilterText {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}
.Select {
  padding: 10px;
  margin-right: 20px;
}
.Option {
}

@media only screen and (max-width: 425px) {
  .Filter {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
  }
  .FilterText {
    margin-right: 0px;
  }
  .Select {
    margin: 5px 0px;
  }
}
